*{
  writing-mode: vertical-rl;
}
.hide{
  display:none;
}
.indent{
  text-indent: 1rem;
}
.head{
  margin-right: 3rem;
  margin-left: 5rem;
  margin-top: 7rem;
}
.main{
  margin: 3rem 3rem 4rem 2rem;
  font-size: 18px
}
.big{
  font-size: 28px;
}
.line{
  line-height: 3rem;
}




.end{
  margin: 20rem 0 2rem 0;
}
.address{
  margin-top: 1rem;
}
